<h2>Chat</h2>
<div id='chat-container'>
  <div id='chat-window'>
    <div id='output'></div>
    <div id='feedback'></div>
  </div>
  <div id='console'>
    <input id='message' type='text' placeholder='Message'>
    <button id='send'>Send</button>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>


{{!-- <h2>Inbox</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">UNID</th>
    <th scope="col">Modified</th>
  </thead>
  <tbody>
    {{#each messages}}
      <tr>
        {{#each this.doc}}
        <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table> --}}