<div class="jumbotron">
  <h1>Domino OAuth 2 Provider(DAOP) Sample Chat App</h1>
  <p class="lead">This sample app shows how to use the DOAP to access Domino discussion nsf from Node.js, WebSocket</p>
  {{#if user}}
    <p>Welcome {{user}}!</p>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div>