pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

div#chat-container {
  height: 300px;
}

div#chat-window {
  height: 270px;
  background-color: #dddddd;
  overflow: scroll;
}

div#console {
  width: 100%;
}

input#message, button#send {
  height: 50px;
  width: 100%;
  font-size: 24px;
}